@(testSessions: List[models.test.TestSession], tests: List[models.test.Test], user: models.AppUser)
@shared.header()
<div class="patient-dashboard">
    <div class="container-fluid">
        <div class="row dashboard">
            <div class="col-md-2 header-first-half">
                <header class="center">
                    <img class="margin-top-5" src="/images/logo.png" width="150">
                </header>
            </div><!-- /. dashboard-first-half -->
            <div class="col-md-10 header-second-half">
                <header>
                    <button class="btn btn-default btn-sm pull-right logoutbtn" onclick="window.location = '/logout'">Logout</button>
                </header>
            </div><!-- /. dashboard-second-half -->
        </div>
        <div class="row dashboardbody">
            <div class="col-md-2 dashboard-first-half">
                <div class="body">
                    <div class="contact-panel">
                        <br />
                        <p>@user.email</p>
                        @if(user.role.toString == "ADMIN"){
                            <p>ADMINISTRATION</p>
                            <br /><br />
                            <a href="/test/create" target="_blank">Create Test</a>
                        }
                    </div>
                </div>
                <br /><br />
            </div><!-- /. dashboard-first-half -->
            <div class="col-md-10 tab-content main-tab-content">
                <div class="dashboard-second-half tab-pane active" role="tabpanel" id="hometab">
                    <div class="body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a aria-controls="home" data-target="#personal" data-toggle="tab" role="tab" style="cursor:default">Your Tests</a>
                            </li>
                            <li role="presentation">
                                <a aria-controls="profile" data-target="#contact" data-toggle="tab" role="tab" style="cursor:default">Tests Available</a>
                            </li>
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="personal" role="tabpanel">
                                @if(testSessions.length == 0){
                                    <p>No tests taken yet</p>
                                }else{
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Title</h3>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3>Score</h3>
                                        </div>
                                    </div>
                                }
                                @for(testSession <- testSessions){
                                    <div class="row">
                                        <div class="col-sm-6">
                                            @testSession.test.title
                                        </div>
                                        <div class="col-sm-6">
                                            @testSession.score
                                        </div>
                                    </div>
                                }
                            </div><!-- /.personal -->
                            <div class="tab-pane" id="contact" role="tabpanel">
                                @if(tests.length == 0){
                                    <p>No tests are available</p>
                                }else{
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Title</h3>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                }
                                @for(test <- tests){
                                    <div class="row">
                                        <div class="col-sm-6">
                                            @test.title
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="/test/start/@test.id">Start</a>
                                        </div>
                                    </div>
                                }
                            </div><!-- /.contact -->
                        </div><!-- /.tab-content -->
                        <br>
                    </div><!-- /.body -->
                </div><!-- /.dashboard-second-half hometab -->
            </div><!-- /.dashboard-second-half vitalstab -->
        </div><!-- /.tab-content -->
    </div>
</div>