<body data-ng-app="swiftCodeApp">
<div id="wrap">
    <div id="main">
        <div class="container-fluid" ng-controller="testController">
            <form method="POST" ng-submit="createTest()" >
                <div class="row">
                    <div class="col-sm-12">
                        Title: <input class="form-control test-input" type="text" ng-model="test.title" required/><br/><br/>
                        <input type="button" class="btn btn-default btn-sm" ng-click="addNewQuestion()" value="ADD QUESTION"><br/><br/>
                        <fieldset data-ng-repeat="testQuestion in test.testQuestions track by $index">
                            <textarea class="form-control test-input" ng-model="testQuestion.question" required></textarea><br/><br/>
                            <input type="button" class="btn btn-default btn-sm" ng-click="removeQuestion($index)" value="REMOVE QUESTION">
                            <input type="button" class="btn btn-default btn-sm" ng-click="addNewAnswer(testQuestion)" value="ADD ANSWER"><br/><br/>
                            <div class="col-sm-12">
                                <fieldset data-ng-repeat="testAnswer in testQuestion.testAnswers track by $index">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <textarea class="form-control test-input" ng-model="testAnswer.answer" required></textarea><br/><br/>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="checkbox" ng-model="testAnswer.isCorrect" ng-init="testAnswer.isCorrect = '0'"/> Correct
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="button" class="btn btn-default btn-sm" ng-click="removeAnswer(testQuestion, $index)" value="REMOVE ANSWER">
                                        </div>
                                     </div>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 center">
                        <button type="submit" class="btn btn-default btn-sm"> CREATE </button>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
</body>