<link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/bootstrap-datepicker.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" media="screen" href="/stylesheets/codemirror.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/dracula.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/show-hint.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/dataTables.bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="/images/logosmall.jpg" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="/javascripts/libs/jquery.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/bootstrap.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/bootstrap-datepicker.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/angular.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/angular-route.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/angular-cookies.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/Chart.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/jquery.maskedinput.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/bootbox.min.js" type="text/javascript"> </script>
<script src="/javascripts/angular/app.js" type="text/javascript"> </script>
<script src="/javascripts/common-scripts.js" type="text/javascript"> </script>
<script src="/javascripts/angular/app.js" type="text/javascript"> </script>
<script src="/javascripts/libs/bootbox.min.js" type="text/javascript"> </script>
<script src="/javascripts/libs/codemirror/codemirror.js" type="text/javascript"> </script>
<script src="/javascripts/libs/codemirror/python.js" type="text/javascript"> </script>
<script src="/javascripts/libs/codemirror/clike.js" type="text/javascript"> </script>
<script src="/javascripts/libs/codemirror/show-hint.js" type="text/javascript"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="/javascripts/libs/jquery.dataTables.min.js"></script>
<script src="/javascripts/libs/dataTables.bootstrap.min.js"></script>
<title id="title">BETSOL</title>