@(path: String)
<div class="row">
    <div class="col-md-12">
        <textarea name="@path\\.programText" id="codeArea-@path"></textarea>
        <select class="form-control language-select" id="@path" name="@path\\.languageType">
            <option value="JAVA">Java</option>
            <option value="CPP">C++</option>
            <option value="C">C</option>
            <option value="PYTHON">Python</option>
        </select>
    </div>
    <script>
        var area = document.getElementById("codeArea-@path");
        var editor = CodeMirror.fromTextArea(area, {
            lineNumbers: true,
            theme: "dracula",
            styleActiveLine: true,
            matchBrackets: true,
            mode: "text/x-java",
            extraKeys: {"Ctrl-Space": "autocomplete"}
        });
    </script>
</div>
<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input type="button" value="COMPILE" class="btn btn-default btn-sm compile-button" onclick="compileProgram('@path')" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="compile-output" id="error-@path"></div>
    </div>
</div>
