@(testSession: models.test.TestSession)
<html lang="en">
<head>
    @shared.header()
</head>
<body class="test-body">
<div id="wrap">
    <div id="main">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script type="text/javascript" src="/javascripts/test.min.js" charset="utf-8"></script>
        <style>
            .stuck {
            position: fixed;
            top: 10px;
            left: 10px;
            bottom: 10px;
            width: 180px;
            overflow-y: auto;
            }
        </style>
        <script type="text/javascript" charset="utf-8">

            if (!!window.EventSource) {
                var stringSource = new EventSource("/test/liveClock/@testSession.id");
                stringSource.addEventListener('message', function(e) {
                    if(e.data <= 0){
                        $("input:radio").attr('disabled',true);
                        $("#testSubmit").click();
                    }
                    $("#clock").html(secondsToHms(e.data));
                    $("#title").html("SwiftCode - " + secondsToHms(e.data));
                });
            } else {
                alert("Sorry. This browser doesn't seem to support our test. Check http://html5test.com/compare/feature/communication-eventSource.html for browser compatibility.");
            	warn = false;
            	submit = false;
            	window.location = "/dashboard";
            }

        </script>
        <div class="container-fluid test-container">
            <div class="row">
                <div class="col-md-12">
                    <span class="center">
                        <h4><b>@play.api.Play.current.configuration.getString("helpText")</b></h4>
                    </span>
                </div><!-- /. dashboard-first-half -->
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 white-panel">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 id="clock" class="pull-right stuck"></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 center">
                            <h3><b> @testSession.test.title </b></h3>
                        </div>
                    </div>
                    <br />
                    <div id="test-div">
                        <form id="test-data" method="POST" action="/test/submit">
                            <input type="hidden" name="testTaker.id" value="@testSession.testTaker.id" />
                            <input type="hidden" name="id" value="@testSession.id" />
                            <input type="hidden" name="test.id" value="@testSession.test.id" />
                            @for((x,i) <- testSession.test.testQuestions.view.zipWithIndex){
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title pull-left">@(i+1))&nbsp;&nbsp;@Html(x.getQuestionView())</h3>
                                </div>
                                <div class="list-group">
                                    @for((y,j) <- x.testAnswers.view.zipWithIndex){
                                    <div class="list-group-item">
                                        <h4 class="list-group-item-text">
                                            <input type="radio" class="test.testQuestions[@i]" name="test.testQuestions[@i].testAnswers[@j].selected" value="1" onclick="choose(@i,@j)"/>
                                            <input type="hidden" name="test.testQuestions[@i].testAnswers[@j].id" value="@testSession.test.testQuestions(i).testAnswers(j).id" />@Html(y.answer)
                                        </h4>
                                    </div>
                                    }
                                </div>
                            </div>
                            }
                            <br />
                            @for((x,i) <- testSession.test.testPrograms.view.zipWithIndex){
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title pull-left">@Html(x.getProgramQuestionView())</h3>
                                </div>
                                <input type="hidden" name="programSubmissions[@i].testProgram.id" value="@x.id" />
                                @code_session("programSubmissions[" + i + "]", testSession.test.codeSessionConfiguration)
                            </div>
                            }
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 center">
                                    <button type="submit" onclick="warn=false;" id="testSubmit" class="btn btn-primary margin-top-20"> SUBMIT </button>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("select").on('change', function () {
        $(this).prev().remove();
        changeMode(this.value, this.id);
    });

    var keyMap = {"JAVA":"text/x-java", "CPP":"text/x-c++src", "C":"text/x-csrc", "PYTHON":"python"};

    function changeMode(mode, id){
        var area = document.getElementById("codeArea-" + id);
        var editor = CodeMirror.fromTextArea(area, {
            lineNumbers: true,
            theme: "dracula",
            styleActiveLine: true,
            matchBrackets: true,
            mode: keyMap[mode],
            extraKeys: {"Ctrl-Space": "autocomplete"}
        });
    }

    function compileProgram(id){
        $("div[id='error-"+id+"']").html('@shared.loader()');
        var r = /\d+/;
        var index = id.match(r);
        var codeText = "";

        $("input[name='"+id+".testProgram.id']")
        .next()
        .find(".CodeMirror .CodeMirror-line")
        .each(function(){
            codeText = codeText + $(this).text() + "\n";
        })

        $.ajax({
            url: '/program/compile',
            type: 'POST',
            data: {
                "programIndex": '_@testSession.id' + '_' + index,
                "programText": codeText,
                "languageType": $("select[id='"+id+"']").val(),
                "testSession.id": '@testSession.id'
            },
            success: function(data){
                $("div[id='error-"+id+"']").html(data);
            }
        });
    }

    function executeProgram(id){
        $("div[id='error-"+id+"']").html('@shared.loader()');
        var r = /\d+/;
        var index = id.match(r);
        var codeText = "";

        $("input[name='"+id+".testProgram.id']")
        .next()
        .find(".CodeMirror .CodeMirror-line")
        .each(function(){
            codeText = codeText + $(this).text() + "\n";
        })

        $.ajax({
            url: '/program/execute',
            type: 'POST',
            data: {
                "programIndex": '_@testSession.id' + '_' + index,
                "programText": codeText,
                "languageType": $("select[id='"+id+"']").val(),
                "testSession.id": '@testSession.id'
            },
            success: function(data){
                $("div[id='error-"+id+"']").html(data);
            }
        });
    }
</script>
</body>
</html>