<!DOCTYPE html>
<html>
<head>
    <title> SwiftCode </title>
    <meta charset="utf-8" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/images/logosmall.jpg" />
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ff9500">

    <!-- Scripts and Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/swiftcode.css" />

</head>
<body id="swiftcode">

<nav class="navbar navbar-default" id="mainNavbar">
    <div class="container-fluid">
        <div class="navbar-header" id="mainNavbarHeader">
            <a class="navbar-brand" href="/"> <img src="/images/swiftcode_logo_betsol.png" /> </a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="mainNavbarContent">
            <a class="navbar-brand" href="https://betsol.com"> <img src="/images/BETSOL_color_no_tagline white.png" /> </a>
        </div>
    </div>
</nav>

<div id="canvas-container"></div>

<div class="container-fluid" id="signup">
    <div class="container" id="signup-wrapper">
        <h2 class="small-caps"> Sign Me Up </h2>
        <hr class="heading-underline-thick" />

        <form id="form-signup">
            <input type="text" name="name" id="name-input" class="input-textfield glowing-border" placeholder="First and Last Name" /><br />
            <input type="text" name="email" id="email-input" class="input-textfield glowing-border" placeholder="Email Address" /><br />
            <input type="file" name="resume" id="file-input" class="inputfile" />
            <label class="btn-primary-light" id="file-input-label" for="file-input">Upload Resume</label>
            <a id="signup-button" class="btn-primary-light"> Sign Up</a>
            <center><p id="signup-message"></p></center>
        </form>
    </div>
</div>

<div class="container-fluid light-container" id="description">
    <div class="container">

        <h2 class="small-caps"> About SwiftCode </h2>
        <hr class="heading-underline-thick" />
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/BFvpj20-G9w" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>
            The requirement for highly reactive and scalable applications is now more than ever.
            New application frameworks and database design philosophies have helped application engineers to propose
            end-to-end solutions that scale to thousands of users. SwiftCode is a concentrated amount of engineering
            brought together by technology enthusiasts who have had experience in building and maintaining software
            for various use cases.
        </p>
        <p>
            Our program is intended to show a modern age computer science graduate how to build scalable
            and robust applications using state of the art techniques and design methodologies that
            have shaped software today.
        </p>
    </div>
</div>

<div class="container-fluid dark-container" id="techstack">
    <div class="container">
        <h2 class="small-caps"> Tech Stack </h2>
        <hr class="heading-underline-thick" />

        <div class="row">
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/angularjs.png" />
            </div>
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/aws.png" />
            </div>
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/git.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <img class="techstack-img" src="images/techstack/heroku.png" />
            </div>
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/java.png" />
            </div>
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/mysql.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/play.png" />
            </div>
            <div class="col-sm-4  col-xs-6">
                <img class="techstack-img" src="images/techstack/rest.png" />
            </div>
            <div class="col-sm-4  col-xs-12">
                <img class="techstack-img" src="images/techstack/ubuntu.png" />
            </div>
        </div>

    </div>
</div>

<div class="container-fluid light-container" id="overview">
    <div class="container">
        <h2 class="small-caps"> Overview </h2>
        <hr class="heading-underline-thick" />

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="overview-image" src="/images/monitor.png" />
                <h3> App Development </h3>
                <hr class="heading-underline-normal" />
                <div class="overview-description">
                    Learn to develop full-stack applications using modern frameworks and
                    bleeding edge UI. Learn how to design RESTful web services that are structured and are easy to use.
                </div>
                <hr class="heading-underline-thin" />
                <div class="overview-testmonials">
                        <span class="testmonial-quote">
                            &ldquo; It was a great experience, fun and informative &rdquo;
                        </span>
                    <br />
                    <span class="testmonial-author"> Akshay, Student of BNMIT </span>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <img class="overview-image" src="/images/rocket.png" />
                <h3> Deployment </h3>
                <hr class="heading-underline-normal" />
                <div class="overview-description">
                    Learn how to deploy and maintain generally available applications, cloud engineering and an introduction to various PaaS based solutions.
                </div>
                <hr class="heading-underline-thin" />
                <div class="overview-testmonials">
                        <span class="testmonial-quote">
                            &ldquo; The trainers were great! I learnt a lot and thoroughly enjoyed the three days of the workshop ! &rdquo;
                        </span>
                    <br />
                    <span class="testmonial-author"> Deeksha, Student of BNMIT </span>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid dark-container" id="faq">
    <div class="container">
        <h2 class="small-caps"> FAQ </h2>
        <hr class="heading-underline-thick" />
        <ul class="list-unstyled faq-list">
            <li>
                <p class="question">
                    Whom is the training program designed for?
                </p>
                <p class="answer">
                    This training program is designed for IT students and aspirants who are passionate about programming. This program would give students a hands-on learning experience with latest technologies which are not only popular but are currently used to develop enterprise applications.
                </p>
            </li>
            <li>
                <p class="question">
                    I am a student and I am not very sure if I am eligible for pursuing this program.
                </p>
                <p class="answer">
                    We understand your dilemma very well. Of course you are eligible for this course if you posses following qualifications:<br />
                    <ul style="list-style-type:disc">
                        <li>Pursuing B.E/ B Tech (Computer Science, Information Science and other related courses)</li>
                        <li>Prior exposure or basic knowledge in programming (C, C++, Java, Python etc)</li>
                    </ul>
                </p>
            </li>
            <li>
                <p class="question">
                    Do you teach basics of programming?
                </p>
                <p class="answer">
                    No.
                </p>
            </li>
            <li>
                <p class="question">
                    I am interested in pursuing a career in Software Testing or Database Management. Can I enroll in this program ?
                </p>
                <p class="answer">
                    No. This is only for aspiring application/systems developers.
                </p>
            </li>
            <li>
                <p class="question">
                    Do you provide all the devices and infrastructure required for the training, or am I supposed to arrange them for myself ?
                </p>
                <p class="answer">
                    We arrange all the required infrastructure.
                </p>
            </li>
            <li>
                <p class="question">
                    How many students will be part of this program ?
                </p>
                <p class="answer">
                    The seats are limited (&le;25).
                </p>
            </li>
            <li>
                <p class="question">
                    What is the class duration ?
                </p>
                <p class="answer">
                    20-24 hours, spread across 3 days.
                </p>
            </li>
            <li>
                <p class="question">
                    What else will I learn from this training program ?
                </p>
                <p class="answer">
                    We provide insight into other aspects of software development like Source Control and Deployments.
                </p>
            </li>
            <li>
                <p class="question">
                    Is a certificate issued after the completion of course ?
                </p>
                <p class="answer">
                    Yes.
                </p>
            </li>
            <li>
                <p class="question">
                    Will I get a practical exposure during the training ? 
                </p>
                <p class="answer">
                    Yes. It is designed to be a hands-on program.
                </p>
            </li>
            <li>
                <p class="question">
                    What is scope of job placements ? Will I be offered a job by BETSOL ?
                </p>
                <p class="answer">
                    his program is to train you to learn cutting-edge technologies and make you ready for the IT industry. Your chances for job placement will improve if you are better skilled; not only with BETSOL, but other companies as well.
                </p>
            </li>
            <li>
                <p class="question">
                    What is the fee for training courses ?
                </p>
                <p class="answer">
                    ₹ 2500.
                </p>
            </li>
            <li>
                <p class="question">
                    Is the fee refundable?
                </p>
                <p class="answer">
                    Fee once paid is not refundable.
                </p>
            </li>
            <li>
                <p class="question">
                    How are the students selected for this program ?
                </p>
                <p class="answer">
                    We perform a basic MCQ skill test for the students. The test will be conducted to see who is eligible for training. We check out your resumes as well.
                </p>
            </li>
        </ul>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12" id="copyrights">
                <span class="row-heading"> &copy; 2017 BETSOL&reg; All Rights Reserved </span><br />
                <div class="row-content">
                    <strong>USA</strong><br />
                    10901 W. 120th Ave, Suite 235<br />
                    Broomfield, CO 80021<br />
                    <br />
                    1624 Market Street, Suite 202<br />
                    Denver, CO 80202<br />
                    <br />
                    Phone: (844) 4BETSOL (toll free)<br />
                    Fax: 303-464-3009<br />
                    <br />
                    <strong>India</strong><br />
                    Brigade Software Park,<br />
                    'B' Block, 7th Floor<br />
                    Banashankari 2nd Stage,<br />
                    Bangalore-560070 India<br />
                    <br />
                    Phone: +91 80 26710458<br />
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12" id="connect">
                <span class="row-heading">Connect with Betsol</span>
                <div class="row-content">
                    <span class="list-heading"> Betsol Links </span>
                    <ul class="list-unstyled betsol-link-list">
                        <li>
                            <a href="https://betsol.com/contact-us/">
                                <span class="fa fa-briefcase social-icons fa-fw"></span> Sales
                            </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/careers/">
                                <span class="fa fa-black-tie social-icons fa-fw"></span> Hiring
                            </a>
                        </li>
                    </ul>
                    <br />
                    <span class="list-heading"> Social Links </span>
                    <ul class="list-unstyled social-link-list">
                        <li>
                            <a href="https://www.facebook.com/BetsolSoftware">
                                <span class="fa fa-facebook social-icons fa-fw"></span> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/_BETSOL">
                                <span class="fa fa-twitter social-icons fa-fw"></span> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/betsol">
                                <span class="fa fa-linkedin social-icons fa-fw"></span> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="http://www.slideshare.net/JustinGesso/betsol-introduction-pack-2016">
                                <span class="fa fa-slideshare social-icons fa-fw"></span> Slideshare
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/channel/UCsgV1oy4UXVt4dmFbQN7Uig">
                                <span class="fa fa-youtube social-icons fa-fw"></span> Youtube
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12" id="navigate">
                <span class="row-heading"> Navigate </span>
                <div class="row-content">
                    <ul class="list-unstyled navigation-link-list">
                        <li>
                            <a href="https://betsol.com/"> Home </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/software-engineering-and-quality-assurance/"> Software Engineering </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/help-desk-and-infrastructure-managed-services/"> Help Desk & Infrastructure </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/contact-center-managed-services/"> Contact Center </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/careers/"> Careers </a>
                        </li>
                        <li>
                            <a href="https://betsol.com/betsol-blog/"> Blog </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- Javascript Files -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/three.js"></script>
<script src="/javascripts/controls/OrbitControls.js"></script>
<script src="/javascripts/perlin.js"></script>
<script src="/javascripts/stats.min.js"></script>
<script src="/javascripts/swiftcode.js"></script>
<script>


</script>
</body>
</html>