<!DOCTYPE html>
<html>
<head>
    <title>Betsol Innovation Labs</title>
    <meta charset="utf-8" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/bil/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/bil/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/bil/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/bil/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/bil/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/bil/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/bil/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/bil/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/bil/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/bil/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/bil/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/bil/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/bil/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/bil/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/images/favicons/bil/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <!-- Scripts and Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/innovations.css" />





</head>
<body id="homepage">

    <nav class="navbar navbar-default" id="mainNavbar">
        <div class="container-fluid">
            <div class="navbar-header" id="mainNavbarHeader">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbarContent">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"> <img src="/images/BIL Logo 2.png" height="10px" /> Betsol Innovation Labs</a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="mainNavbarContent">
                <ul class="nav navbar-nav">
                    <li> <a href="/" id="link-products-training">Training </a> </li>
                    <li> <a href="/" id="link-products-automation">Automation </a> </li>
                    <li> <a href="/" id="link-products-iot">IoT </a> </li>
                    <li> <a href="/" id="link-products-ml">Machine Learning </a> </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="canvas-container">

    </div>


    <div id="landing-image-wrapper">
        <div class="icon-container" id="training-icon">
            <div class="icon-card">
                <img class="front" src="/images/Training Logo 2.png" alt="Training" />
                <img class="back" src="/images/Training Logo 2 Back.png" alt="Training" />
            </div>
        </div>

        <div class="icon-container" id="automation-icon">
            <div class="icon-card">
                <img class="front" src="/images/Automation Logo 2.png" alt="Automation" />
                <img class="back" src="/images/Automation Logo 2 Back.png" alt="Automation" />
            </div>
        </div>

        <div class="icon-container" id="iot-icon">
            <div class="icon-card">
                <img class="front" src="/images/IoT Logo 2.png" alt="IoT" />
                <img class="back" src="/images/IoT Logo 2 Back.png" alt="IoT" />
            </div>
        </div>

        <div class="icon-container" id="ml-icon">
            <div class="icon-card">
                <img class="front" src="/images/Machine Learning Logo 2.png" alt="Machine Learning" />
                <img class="back" src="/images/Machine Learning Logo 2 Back.png" alt="Machine Learning" />
            </div>
        </div>
    </div>

    <div class="container-fluid dark-container" id="products-container">
        <!-- Training Section-->
        <div class="row" id="products-training">
            <div class="col-sm-6 img-col">
                <img src="/images/Training Banner.png">
            </div>
            <div class="col-sm-6">
                <div class="text-holder">
                    <h3> Training </h3>
                    <hr class="heading-underline" />
                    <p class="product-description">
                        The requirement for highly reactive and scalable applications is now more than ever.New
                        application frameworks and database design philosophies have helped application engineers
                        to propose end-to-end solutions that scale to thousands of users. Training platforms at BETSOL
                        Innovation Labs are a concentrated amount of engineering brought together by technology
                        enthusiasts who have had experience in building and maintaining software for various use cases.
                    </p>
                </div>
            </div>
        </div>

        <!-- Automation Section-->
        <div class="row" id="products-automation">
            <div class="col-sm-6 col-sm-push-6 img-col">
                <img src="/images/Automation Banner.png">
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="text-holder">
                    <h3> Automation </h3>
                    <hr class="heading-underline" />
                    <p class="product-description">
                        Innovations at BETSOL include a suite of automation consoles and dashboards
                        that have brought together an array of solutions to reduce time-to-deploy. Our
                        solutions provide our customers with complete control over their DevOps activities
                        leveraging various cloud platforms.
                    </p>
                </div>
            </div>
        </div>

        <!-- IoT Section-->
        <div class="row" id="products-iot">
            <div class="col-sm-6 img-col">
                <img src="/images/IoT Banner.png">
            </div>
            <div class="col-sm-6">
                <div class="text-holder">
                    <h3> IoT </h3>
                    <hr class="heading-underline" />
                    <p class="product-description">
                        BETSOL Innovation Labs have made unparalleled progress in the field of IoT.
                        Our engineering teams have developed cutting-edge software that measure and track
                        health-care statistics and much more.
                    </p>
                </div>
            </div>
        </div>

        <!-- Machine Learning Section-->
        <div class="row" id="products-ml">
            <div class="col-sm-6 col-sm-push-6 img-col">
                <img src="/images/Machine Learning Banner.png">
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="text-holder">
                    <h3> Machine Learning </h3>
                    <hr class="heading-underline" />
                    <p class="product-description">
                        Artificial Intelligence is the future of research and technology. Through our expert
                        knowledge in Machine Learning, BETSOL Innovation Labs have provisioned solutions that
                        have solved real world problems for our clients
                    </p>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12" id="copyrights">
                    <span class="row-heading"> &copy; 2017 BETSOL&reg; All Rights Reserved </span><br />
                    <div class="row-content">
                        <strong>USA</strong><br />
                        10901 W. 120th Ave, Suite 235<br />
                        Broomfield, CO 80021<br />
                        <br />
                        1624 Market Street, Suite 202<br />
                        Denver, CO 80202<br />
                        <br />
                        Phone: (844) 4BETSOL (toll free)<br />
                        Fax: 303-464-3009<br />
                        <br />
                        <strong>India</strong><br />
                        Brigade Software Park,<br />
                        'B' Block, 7th Floor<br />
                        Banashankari 2nd Stage,<br />
                        Bangalore-560070 India<br />
                        <br />
                        Phone: +91 80 26710458<br />
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" id="connect">
                    <span class="row-heading">Connect with Betsol</span>
                    <div class="row-content">
                        <span class="list-heading"> Betsol Links </span>
                        <ul class="list-unstyled betsol-link-list">
                            <li>
                                <a href="https://betsol.com/contact-us/">
                                    <span class="fa fa-briefcase social-icons fa-fw"></span> Sales
                                </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/careers/">
                                    <span class="fa fa-black-tie social-icons fa-fw"></span> Hiring
                                </a>
                            </li>
                        </ul>
                        <br />
                        <span class="list-heading"> Social Links </span>
                        <ul class="list-unstyled social-link-list">
                            <li>
                                <a href="https://www.facebook.com/BetsolSoftware">
                                    <span class="fa fa-facebook social-icons fa-fw"></span> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/_BETSOL">
                                    <span class="fa fa-twitter social-icons fa-fw"></span> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/betsol">
                                    <span class="fa fa-linkedin social-icons fa-fw"></span> LinkedIn
                                </a>
                            </li>
                            <li>
                                <a href="http://www.slideshare.net/JustinGesso/betsol-introduction-pack-2016">
                                    <span class="fa fa-slideshare social-icons fa-fw"></span> Slideshare
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/channel/UCsgV1oy4UXVt4dmFbQN7Uig">
                                    <span class="fa fa-youtube social-icons fa-fw"></span> Youtube
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6 col-xs-12" id="navigate">
                    <span class="row-heading"> Navigate </span>
                    <div class="row-content">
                        <ul class="list-unstyled navigation-link-list">
                            <li>
                                <a href="https://betsol.com/"> Home </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/software-engineering-and-quality-assurance/"> Software Engineering </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/help-desk-and-infrastructure-managed-services/"> Help Desk & Infrastructure </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/contact-center-managed-services/"> Contact Center </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/careers/"> Careers </a>
                            </li>
                            <li>
                                <a href="https://betsol.com/betsol-blog/"> Blog </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- Javascript Files -->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/three.js"></script>

    <script src="/javascripts/Detector.js"></script>
    <script src="/javascripts/stats.min.js"></script>
    <script src="/javascripts/innovations.js"></script>
</body>
